*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.scroll-parent{
    width: 100%;    
    #downscroll{
        border: none;
        background-color: red;
        border-radius: 40px;
        float: right;
        margin: 40px 7.7vw 40px 0;

        img{
            height: 35px;
        }
    }
}