$tablet:740px;
@mixin tablet{
    @media (max-width:#{$tablet}){
        @content
    }
}
$mobile:500px;
@mixin mobile{
    @media (max-width:#{$mobile}){
        @content
    }
}

.timer-container {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 62px;
  @include mobile{
    height: 20vh;
    padding-bottom: 0px;
  }

  .timer-item {
    padding: 4%;
    text-align: center;
    @include mobile{
      padding: 3%;
    }

    .timer-title {
      justify-content: center;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-weight: 300;
      font-size: 24px;
      @include tablet{
        font-size: 20px;
      }
      @include mobile{
        font-size: 15px;
      }
    }

    .timer-subtitle {
      padding-top: 20px;
      font-family: "Avenir Next", "Avenir Next MT", Calibri;
      font-weight: 800;
      font-size: 80px;
      @include tablet{
        font-size: 9vw;
      }
    }
  }
}
