.card {
    width: 360px;
    height: 420px;
    display: flex;
    box-shadow: 0px 0px 8px 3px rgba(162, 162, 162, 0.25);
    box-sizing: border-box;
    padding: 35px;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    cursor: pointer;
    align-self: center;
    @media only screen and (max-width: 600px) {
        width: 100%;
    }
    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
    }
    p {
        color: white;
        font-size: 30px;
        font-weight: 700;
        font-style: italic;
        margin-top: 30px;
    }
    div {
        margin-top: 10px;
    }
    .line {
        margin-top: 15px;
        width: 147px;
        height: 2px;
        background-color: #e62b1e;
    }
    span {
        margin-top: 10px;
        font-size: 20px;
    }
}
