.sociallogos {
  display: flex;
  flex-direction: column;
  background: none;
  position: absolute;
  width: 30px;
  height: 177.6px;
  left: 1330px;
  top: 317px;
  color: white;
}

a.socialmedialink {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
  padding: 10px;
  background: none;
  color: white;
}
a.sociallogos:hover {
  transform: translateY(-2px);
}
