.team__container {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    background-color: black;
    color: #ffffff;
}

.team {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 60px 60px 0 60px;
    box-sizing: border-box;
    height: 100vh;
    padding-bottom: 40px;
}

.team .side-border {
    flex: 0.25;
    margin-left: 20px;
    margin-right: -40px;
    border-left: 2px solid #B50008;
    height: 362px;
    width: 7px;
}

.lineDivider {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.lineW {
    width: 200px;
    height: 5px;
    background-color: white;
}

.lineR {
    width: 200px;
    height: 5px;
    background-color: #B50008;
    margin-left: 5px;
}

@media screen and (max-width: 600px) {
    .desktop_team_page{
        display:none;
    }
}
@media screen and (min-width: 600px) {
    .mobile_team_page{
        display:none;
    }
}