* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.about-cont1 {
  height: 83vh;
  padding: 3vh 0;
  @media only screen and (max-width: 600px) {
    height: auto;
  }
}
.about-cont2 {
  height: 100vh;
  @media only screen and (max-width: 600px) {
    height: auto;
  }
}
.about-cont1,
.about-cont2 {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  .heading1 {
    color: #e62b1e;
    font-family: Avenir Next;
    font-size: 42px;
    font-style: italic;
    font-weight: 800;
    line-height: 55px;
    letter-spacing: 0em;
    @media only screen and (max-width: 600px) {
      font-size: 25px;
    }
  }
  .sub-heading {
    color: #e62b1e;
    font-family: Gill Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    @media only screen and (max-width: 600px) {
      font-size: 18px;
    }
  }
  .content1 {
    width: 70vw;
  }
  .content2 {
    width: 70vw;
  }
  .content1,
  .content2 {
    font-family: Gill Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    @media only screen and (max-width: 600px) {
      font-size: 16px;
      line-height: 25px;
    }
  }
  .line {
    width: 10vw;
    height: 0;
    border: 1px solid #ff000b;
    margin: 20px;
  }
}
