*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#navbar {
  padding: 44px 80px 0 0;
}
.about {
  padding: 6% 23% 8% 23%;

  .red {
    color: #e62b1e;
  }
  
  .white {
    color: #ffffff;
  }
  
  #parent-logo{
    padding: 0;
    #child-flex {
      display: flex;
      width: fit-content;
  
      .ted {
        font-family: Helvetica Neue, Helvetica;
        font-weight: 900;
        font-size: 50px;
        letter-spacing: -0.4rem;
      }
      
      .ted-x {
        font-weight: 700;
        font-size: 24px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri;
        position: relative;
        top: 16px;
        left: 7px;
      }
      .iiitv {
        font-family: Helvetica Neue, Helvetica;
        font-weight: 400;
        font-size: 47px;
        position: relative;
        top: 11px;
        left: 8px;
      }
    }
    
    .subtitle {
      font-family: Helvetica Neue, Helvetica;
      font-weight: 700;
      font-size: 16px;
      position: relative;
      top: -4px;
    }
  }

  .line {
    width: 45%;
    height: 0.01em;
    background-color: white;
    margin: 30px 0 10px 0;
  }

  .about-button {
    background-color: #c90d00;
    width: 210px;
    height: 60px;
    box-shadow: 0px 0px 10px rgba(228, 228, 228, 0.25);
    border-radius: 8px;

    .about-button-text {
      font-weight: 300;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-size: 26px;
    }
  }

  .about-text {
    font-size: 23px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 400;
  }
}
