@font-face {
  src: url(../../Assests/Font/airstrike.ttf);
  font-family: airstrike;
}

* {
  font-family: airstrike;
  background-color: black;
  color: white;
  margin: 0%;
}

figcaption h2.theme {
  position: absolute;
  height: 32px;
  width: 143px;
  left: 93px;
  top: 195px;
  background-blend-mode: multiply;
  background: none;
  font-family: Airstrike;
  font-style: normal;
  font-weight: normal;
  font-size: 37px;
  line-height: 32px;
}

figcaption h1.next-wave {
  position: absolute;
  width: 638px;
  height: 61px;
  left: 432px;
  top: 399px;
  background: none;
  font-family: Airstrike Bold;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 61px;

  font-family: Airstrike Bold;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 61px;
}

figcaption .rectangle {
  position: absolute;
  width: 202px;
  height: 4px;
  left: 635px;
  top: 682px;
}
