.team_member_list::-webkit-scrollbar {
    display: none;
  }
.team_member_list{
    overflow:hidden auto;
    flex: 1.5;
    align-items: center;
    display:grid;
    grid-gap: 1rem;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.team_member{
    text-align: center;
    font-size: 21px;
}

.team_member img{
    border-radius: 100%;
    border:2px solid #E62B1E;
    height: 250px;
    width:250px;
}