*{
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./Fonts/AvenirNextLTPro-Heavy.otf");
}

@font-face {
  font-family: "Gill Sans";
  src: url("./Fonts/gill-sans.otf");
}

@font-face {
  font-family: "Gill Sans Light";
  src: url("./Fonts/gill-sans-light.otf");
}