* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$mobile: 600px;
@mixin mobile {
  @media (max-width:#{$mobile}) {
    @content;
  }
}

.parent-cs {
  .coming-soon {
    width: 100%;
    height: 80vh;
    justify-content: center;
    background-image: url("../../Assests/images/bulb-bg.png");
    background-size: cover;
    font-family: La Belle Aurore;
    font-size: 6vw;
    font-weight: 400;
    text-align: center;
    padding-top: 25vh;
    @include mobile {
      padding: 10% 0;
      font-size: 40px;
      background-image: none;
    }
  }
  .white {
    color: #ffffff;
  }
}
