.red {
  color: #e62b1e;
}

.white {
  color: #ffffff;
}

.flex-container {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  width: 100%;

  .ted {
    font-family: Helvetica Neue, Helvetica;
    font-weight: 900;
    font-size: 80px;
    letter-spacing: -0.28rem;
    top: -15px;
    position: relative;
  }

  .ted-x {
    font-weight: 700;
    font-size: 36px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri;
    position: absolute;
  }

  .iiitv {
    font-family: Helvetica Neue, Helvetica;
    font-weight: 400;
    font-size: 80px;
    position: relative;
    padding-left: 15px;
  }
}

.subtitle {
  font-family: Helvetica Neue, Helvetica;
  font-weight: 700;
  font-size: 19px;
  position: relative;
  top: -35px;
}

.coming-soon {
  font-family: La Belle Aurore;
  font-size: 50px;
  font-weight: 400;
  position: relative;
  top: 175px;
}

p {
  margin: 0;
}
