.mobile-background {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../Assests/images/mobile-bg.png") no-repeat center
  center/cover;
  background-color: black;
  height: 80vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
  color: white;
  font-family: Airstrike Bold;
  font-size: 4.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0em;
}
@media screen and (min-width:1080px) {
  .mobile-background{
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .mobile-background {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 600px) {
  .mobile-background {
    height: 60vh;
    font-size: 3rem;
  }
}
@media screen and (max-width: 450px) {
  .mobile-background {
    height: 40vh;
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 350px) {
  .mobile-background {
    font-size: 2rem;
  }
}
